.login-modal-background {
  z-index: 99;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-modal-container p {
  margin: 0px;
}

.login-modal-container input {
  width: 100%;
  font-size: 22px;
}

.account-modal-container button {
  margin-top: 0px;
  border: none;
  font-weight: 800;
}

.account-modal-container .body > * {
  margin-bottom: 1rem;
}

.account-modal-container .footer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.account-modal-container .footer > * {
  margin-top: 1rem;
}

.account-modal-container {
  z-index: 99;
  width: 380px;
  padding: 36px;
  height: auto;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: grid;
  row-gap: 1rem;
  padding: 25px;
}
